h1{
    color:red;
}

h1{
    color:blue;
}

/* .btn{
    background-color: green;
    color: white;
    border:none;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover{
    background-color: red;
} */